{% extends 'templates/app.twig' %}
{% block content %}
    <div class="row">
    	<div class="col-md-12">
			<div class="panel panel-primary">
    			<div class="panel-heading">
    				Sign Up
    			</div>
    			<div class="panel-body">
    				<div class="row">
	    				<div class="col-md-6">
			    			<img src="{{ base_url() }}/img/signuphere.jpg" class="img-rounded img-responsive">
			    		</div>
			    		<div class="col-md-6">
		    				<form action="{{ path_for('auth.signup') }}" method="post">
		    					<div class="row">
		    						<div class="col-md-6">
	    								<div class="form-group {{ validationErrors.first_name ? 'has-error has-feedback' : '' }} ">
					    					<label for="firstname">First Name:</label>
					    					<input type="text" name="firstname" id="firstname" class="form-control" value="{{ oldInput.firstname }}" />
					    					{% if validationErrors.firstname %}
					    						<span class="help-block">{{ validationErrors.firstname | first }}</span>
					    						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					    					{% endif %}
					    				</div>
		    						</div>
		    						<div class="col-md-6">
		    							<div class="form-group {{ validationErrors.last_name ? 'has-error has-feedback' : '' }} ">
					    					<label for="lastname">Last Name:</label>
					    					<input type="text" name="lastname" id="lastname" class="form-control" value="{{ oldInput.lastname }}" />
					    					{% if validationErrors.lastname %}
					    						<span class="help-block">{{ validationErrors.lastname | first }}</span>
					    						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					    					{% endif %}
					    				</div>
		    						</div>
		    					</div>

		    					<div class="row">
		    						<div class="col-md-4">
		    							<div class="form-group {{ validationErrors.username ? 'has-error has-feedback' : '' }} ">
					    					<label for="username">Username:</label>
					    					<input type="text" name="username" id="username" class="form-control" value="{{ oldInput.username }}" />
					    					{% if validationErrors.username %}
					    						<span class="help-block">{{ validationErrors.username | first }}</span>
					    						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					    					{% endif %}
					    				</div>
		    						</div>
		    						<div class="col-md-8">
		    							<div class="form-group {{ validationErrors.email ? 'has-error has-feedback' : '' }}">
					    					<label for="email">Email:</label>
					    					<input type="text" name="email" id="email" class="form-control" value="{{ oldInput.email }}" />
					    					{% if validationErrors.email %}
					    						<span class="help-block">{{ validationErrors.email | first }}</span>
					    						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					    					{% endif %}
					    				</div>
		    						</div>
		    					</div>

		    					<div class="row">
		    						<div class="col-md-6">
				    					<div class="form-group {{ validationErrors.password ? 'has-error has-feedback' : '' }}">
					    					<label for="password">Password:</label>
					    					<input type="password" name="password" id="password" class="form-control" />
					    					{% if validationErrors.password %}
					    						<span class="help-block">{{ validationErrors.password | first }}</span>
					    						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					    					{% endif %}
					    				</div>
		    						</div>
		    						<div class="col-md-6">
		    							<div class="form-group {{ validationErrors.confirm_password ? 'has-error has-feedback' : '' }}">
					    					<label for="confirm_password">Confirm Password:</label>
					    					<input type="password" name="confirm_password" id="confirm_password" class="form-control" />
					    					{% if validationErrors.confirm_password %}
					    						<span class="help-block">{{ validationErrors.confirm_password | first }}</span>
					    						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					    					{% endif %}
					    				</div>
		    						</div>
		    					</div>
			    				<button class="btn btn-primary right" type="submit">Sign Up</button>
			    				{{ csrf.field | raw }}
		    				</form>
		    			</div>
	    			</div>
	    		</div>
    		</div>
    	</div>
	</div>
{% endblock %}